.home-page {
    width: 70%;
    margin-top: 8%;
    margin-left: 110px;
    color: inherit;
    /* color: #f2f2f2; */
}

#welcome-container {
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-end;
}

#welcome {
    white-space: pre;
}

#your-id {
    white-space: pre;
}

/* #employees-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.each-employee-payment {
    white-space: pre;
    display: flex;
    flex-direction: column;
}

.cash-payment {
    opacity: 0.5;
}

.required-field::before {
    content: "*";
    color: red;
}
