
.employees-page{
    width: 70%;
    margin-top: 8%;
    margin-left: 110px;
}

.each-employee-title {
    white-space: pre;
}

.each-employee-details {
    white-space: pre;
    display: flex;
    flex-direction: column;
}

.each-employee-button-container{
    width: 100px
}

#employees-container {
    width: 800px;
}