/* .register-employee-form {
    height: auto;
    width: auto;
    padding: 25px;
    border-radius: 2px;
} */

#add-employee-form {
    width: 50%;
    margin-top: 5%;
    margin-left: 15%;
    color: inherit;
}
